/* variables */

:root {
  --form-element-border: #6d432f;
  --form-element-background: rgb(255, 244, 231);
}

/* general styling */

input, select {
  background-color: var(--form-element-background);
  border-color: var(--form-element-border);
  border-width: 1px;
}

/* controls */

.Dropdown {
  margin: 0px 3px;
}

/* components */

.Content {
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

.Main {
  display: flex;
  margin-top: 20px;
}

.ControlPanel > div:not(:first-child) {
  margin-top: 10px;
}

.PitchClassPicker {
  display: flex;
}

.ScalePicker {
  display: flex;
}

.ChordPicker {
  display: flex;
}

.TuningPicker {
  display: flex;
}

.FretCountPicker input {
  width: 32px;
  padding-left: 4px;
}

.ModePicker {
  display: flex;
}

.DisplayPicker {
  display: flex;
}

.Footer {
  text-align: center;
  width: 100%;
}

.NoteList {
  line-height: 1.7;
}

.NoteList svg {
  vertical-align: middle;
  font-size: 80%;
}
