.Content {
  max-width: 500px;
  justify-content: center;
  margin: auto;
}

.Main {
  display: flex;
}

.Footer {
  text-align: center;
  width: 100%;
}

.NoteList {
  line-height: 1.7;
}

.NoteList svg {
  vertical-align: middle;
  font-size: 80%;
}
